/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/* Datatables CSS */
.dataTables_info {
    color: white!important;
}
.dataTables_paginate {
    color: white!important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    color: white!important;
}
.dataTables_length > label {
    color: white!important;
}
.dataTables_filter > label {
    color: white !important;
}
/* Dropdowns */
@media (max-width: 991.98px) {
    .dropdown-sm-center {
        margin: auto;
        display: block;
    }
}
.dropdown-menu {
    max-height: 200px;
    overflow-y: auto;
}

.loading-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index:999;
}

@media(max-width: 576px) {
    .d-sm-flex-center {
        display: flex;
        justify-content: center;
    }
    .mt-sm-1-min {
        margin-top: .5rem !important;
    }
    .m-sm-l-1 {
        margin-left: 2rem;
    }
    .m-sm-r-1 {
        margin-right: 2rem;
    }
    .btn-sm-expand {
        padding: .5rem 5rem;
    }
}