@page
@model Killboard.Web.Pages.LogoffModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Logoff</title>
</head>
<body>
</body>
</html>
