@page
@model Killboard.Web.ProfileModel
@{
    ViewData["Title"] = "Profile";
    ViewData["Username"] = User.Claims.Where(a => a.Type == "username").Select(a => a.Value).FirstOrDefault();
    Layout = "~/Pages/Shared/_LayoutUser.cshtml";

    if (!string.IsNullOrEmpty(Model.Message))
    {
        <div class="m-container">
            <br />
            <div class="card bg-success">
                <div class="card-header text-light">
                    <div class="row">
                        <div class=" d-flex w-100 justify-content-between">
                            <div class="col-sm-11">
                                @Model.Message
                            </div>
                            <div class="col-sm">
                                <span class="dismiss-icon float-right" data-effect="fadeOut"><i class="fa fa-times"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
        </div>
    }

    if (!string.IsNullOrEmpty(Model.ErrorMessage))
    {
        <div class="m-container">
            <br />
            <div class="card bg-danger">
                <div class="card-header text-light">
                    <div class="row">
                        <div class=" d-flex w-100 justify-content-between">
                            <div class="col-sm-11">
                                @Model.ErrorMessage
                            </div>
                            <div class="col-sm">
                                <span class="dismiss-icon float-right" data-effect="fadeOut"><i class="fa fa-times"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
        </div>
    }
}

<div class="card">
    <div class="card-header">
        Main Account Settings
    </div>
    <div class="card-body">
        <form>
            <div class="form-group row">
                <label for="usernameInput" class="col-sm-2 col-form-label">Username</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="usernameInput" value="@ViewData["Username"]" disabled>
                </div>
            </div>
            <div class="form-group row">
                <label for="emailInput" class="col-sm-2 col-form-label">Email Address</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="emailInput" value="@Model.Email" disabled>
                </div>
            </div>
        </form>
        <hr />
    </div>
</div>